@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --color-Primary: #094FA1;       /* dark blue */
  --color-Secondary: #00ACED;     /* blue */
  --color-LightBlue: #c4e9ff;     /* light blue for screen*/
  --color-Red: #c91a2f;           /* red for pokedex */

  --color-DarkAndBlueGradient: linear-gradient(65deg, var(--color-Secondary), var(--color-Primary));    /* color gradient seen in landing page */
  --color-WhiteAndGrayGradient: linear-gradient(186deg, #FAFAFA 15.13%, #094FA1 783.34%);               /* white and gray gradient in cards */
  --color-LightAndBlueGradient: linear-gradient(180deg, var(--color-Tertiary), var(--color-Secondary));

  --color-VerticalDarkAndBlueGradient: linear-gradient(180deg, var(--color-Secondary), var(--color-Primary));    /* for profile picture border */

  --font-Pixel: "VT323";
}

@layer base {
	body {
		@apply font-Pixel;
	}
}