@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-Primary: #5EBFEA;           /* dark blue green */
  --color-Secondary: #3B7B97;         /* a darker primary */
  --color-BlackText: #2C2C2C;         /* not pure black */
  --color-LightBlue: #92DEFE;         /* light blue for screen   92DEFE  orig: c4e9ff  */ 
  --color-LighterBlue: #bbebff;
  --color-Red: #c91a2f;               /* red for pokedex */

  /* Detailed Info Modal Colors */
  --color-GrayBorder: #595D5E;    
  --color-GrayHeader: #C6C6C6;        /* header color for abilities and stats */

  --font-Inter: "Inter", serif;
}

@layer base {
	body {
		@apply font-Inter;
	}
}