@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-Primary: #5EBFEA;           /* dark blue green */
  --color-Secondary: #3B7B97;         /* a darker primary */
  --color-BlackText: #2C2C2C;         /* not pure black */
  --color-LightBlue: #92DEFE;         /* light blue for screen   92DEFE  orig: c4e9ff  */ 
  --color-LighterBlue: #bbebff;
  --color-Red: #c91a2f;               /* red for pokedex */

  /* Detailed Info Modal Colors */
  --color-GrayBorder: #595D5E;    
  --color-GrayHeader: #C6C6C6;        /* header color for abilities and stats */
  --color-LessHarshBlack: #303030;

  --gradient-teal-diagonal: linear-gradient(
    to bottom right,
    white,
    var(--color-LightBlue)
  );

  --font-Inter: "Inter", serif;
}

@keyframes bounce-pokemon {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}

@layer base {
  :root {
    --gradient-teal-diagonal: linear-gradient(
      to bottom right,
      white,
      var(--color-LightBlue)
    );
  }

	body {
		@apply font-Inter;
	}
}

@layer components {
  .prev-button {
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
  }
}